mixin menu(data)
    .menu
        .menu__list
            .menu__wrap-item
                a(href="#").menu__item.sub
                    | Поддержание давления
                    br
                    | и качества воды
                .menu__item-submenu
                    a(href="#").menu__item Подпункт 1
                    a(href="#").menu__item Подпункт 2
                    a(href="#").menu__item Подпункт 3
                    a(href="#").menu__item Подпункт 4
            .menu__wrap-item
                a(href="#").menu__item 
                    | Балансировка 
                    br
                    | и регулирование
            .menu__wrap-item
                a(href="#").menu__item Терморегулирование
            .menu__wrap-item
                a(href="#").menu__item.sub
                    | Компоненты 
                    br
                    | экспертной системы 
                .menu__item-submenu
                    a(href="#").menu__item Подпункт 1
                    a(href="#").menu__item Подпункт 2
                    a(href="#").menu__item Подпункт 3
                    a(href="#").menu__item Подпункт 4
        form(action="").menu__search
            .menu__search-wrap-input
                input(type="text").menu__search-input#search
            button(type="submit").menu__search-btn
                    
                    
                    
                    
                    
                    
                    
                    
