doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/main/main.pug
    include ../components/menu/menu.pug
    include ../components/slider/slider.pug
    
    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        .main__container
            +header()
            +menu()
            +slider()
            

            

        

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
