@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueCyr-Light.otf')  format('opentype'),
	     url('HelveticaNeueCyr-Light.woff') format('woff'), url('HelveticaNeueCyr-Light.ttf')  format('truetype'), url('HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueCyr-Bold.woff') format('woff'), url('HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueCyr-Medium.otf')  format('opentype'),
	     url('HelveticaNeueCyr-Medium.woff') format('woff'), url('HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueCyr-Roman.woff') format('woff'), url('HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
