mixin header(data)
    .header
        .header__top
            .header__menu
                a(href="#").header__menu-item О компании
                a(href="#").header__menu-item Обмен и возврат
                a(href="#").header__menu-item Контактная информация    
                    
            .header__right
                .header__wrap-select
                    .header__title-select Город:
                    select.header__select
                        option(value="msk") Москва
                        option(value="izh") Ижевск
                        option(value="spb") СПБ
                        option(value="sochi") Сочи
                a(href="#").header__link
                    span Регистрация для дилеров
                a(href="#").header__login 
                    span Вход для дилеров
                            
                            
        .header__main
            .header__logo
            .header__list-brend
                img(src="static/img/general/brend1.png").header__brend
                img(src="static/img/general/brend2.png").header__brend
                img(src="static/img/general/brend3.png").header__brend
