body
    background-color #ebeaea

.main

    &__container
        display -webkit-flex
        display -ms-flex
        display flex
        flex-direction column
        width 100%
        margin 0 auto
        max-width 1400px
        background-color #fff
        height 1000px
        -webkit-box-shadow 0px 0px 27px 0px rgba(0, 0, 0, 0.25)
        -moz-box-shadow 0px 0px 27px 0px rgba(0, 0, 0, 0.25)
        box-shadow 0px 0px 27px 0px rgba(0, 0, 0, 0.25)
