mixin slider(data)
    .slider
        .slider__content.js-slider__content
            .slider__item
                .slider__item-left
                    .slider__item-text-left
                        .slider__text1 Если вы любите точность
                        .slider__title TA-Modulator
                        .slider__text1 — ваш выбор!
                    img(width="236px", height="350px", src="static/img/general/slider/slide1.png").slider__img
                .slider__item-right
                    .slider__item-text-right
                        .slider__text2
                            | Представляем 
                            strong TA-Modulator
                            | , новейший комбинированный клапан для пропорционального регулирования
                        a(href="#").slider__link1 Видео о преимуществах TA-Modulator
                        a(href="#").slider__link2 Подробнее о продукте
            .slider__item
                .slider__item-left
                    .slider__item-text-left
                        .slider__text1 Если вы любите точность
                        .slider__title Ta-PILOT-R
                        .slider__text1 — ваш выбор!
                    img(width="236px", height="350px", src="static/img/general/slider/slide1.png").slider__img
                .slider__item-right
                    .slider__item-text-right
                        .slider__text2
                            | Представляем 
                            strong Ta-PILOT-R
                            | , новейший комбинированный клапан для пропорционального регулирования
                        a(href="#").slider__link1 Видео о преимуществах TA-Modulator
                        a(href="#").slider__link2 Подробнее о продукте
            .slider__item
                .slider__item-left
                    .slider__item-text-left
                        .slider__text1 Если вы любите точность
                        .slider__title.sm Ta-MCOMPACT-R
                        .slider__text1 — ваш выбор!
                    img(width="236px", height="350px", src="static/img/general/slider/slide1.png").slider__img
                .slider__item-right
                    .slider__item-text-right
                        .slider__text2
                            | Представляем 
                            strong Ta-MCOMPACT-R
                            | , новейший комбинированный клапан для пропорционального регулирования
                        a(href="#").slider__link1 Видео о преимуществах TA-Modulator
                        a(href="#").slider__link2 Подробнее о продукте
            .slider__item
                .slider__item-left
                    .slider__item-text-left
                        .slider__text1 Если вы любите точность
                        .slider__title.sm ZePARO CYCLONE DIRT
                        .slider__text1 — ваш выбор!
                    img(width="236px", height="350px", src="static/img/general/slider/slide1.png").slider__img
                .slider__item-right
                    .slider__item-text-right
                        .slider__text2
                            | Представляем 
                            strong ZePARO CYCLONE DIRT
                            | , новейший комбинированный клапан для пропорционального регулирования
                        a(href="#").slider__link1 Видео о преимуществах TA-Modulator
                        a(href="#").slider__link2 Подробнее о продукте
                                                    
    
        .slider__menu
            .slider__tab
                a(href="#", data-slide="0").slider__tab-item.js-slider__tab-item.active Ta-Modulator
                a(href="#", data-slide="1").slider__tab-item.js-slider__tab-item Ta-PILOT-R
                a(href="#", data-slide="2").slider__tab-item.js-slider__tab-item Ta-MCOMPACT-R
                a(href="#", data-slide="3").slider__tab-item.js-slider__tab-item ZePARO CYCLONE DIRT
            .slider__wrap-btn    
                .slider__btn.prev#js-slide-prev
                .slider__curent 
                    span#js-curent-slide 1
                    |/
                    span#js-all-slide 4
                .slider__btn.next#js-slide-next
                
                
                
                
                
                
                
                
                
